.navbar:hover > .navbar-collapse:hover > .navbar-nav:hover > .nav-item:hover {
    color: #26cbd6 !important;
}

.header-container {
    padding: 7rem 0;
    margin-bottom: 3rem
}


.mx-50 {
    margin: 5px 150px;
}

.overlay
    {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-image: -webkit-linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
        background-image: -moz-linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
        background-image: -ms-linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
        background-image: -o-linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
        background-image: linear-gradient(to right, 
    #23ced5aa 0%,
    #5192e1aa 100%);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.img-container:hover > .overlay {
    visibility: visible;
    opacity: 0.3;
}